<html>
<header style="background: #0f7430; height : 75pt">
    <h1>
        {{appname}}
    </h1>
    <h2>
        {{subtitle}}
    </h2>
</header>
<body style="background: #ffffff; height: 500pt; margin-left: 0pt; margin-right: 0pt;">
    <div>
        <h4 style="height:20pt; padding-right: 20px">
            <button (click)='menuDetails()'>Menu</button>
            <button (click)='loginDetails()'>Login</button>
        </h4>
    </div>
    <div *ngIf = !showMenu style="margin-top:-20px">
        <div *ngIf=!showLogin>
            <img src="{{appetizerImage}}" style="width: 753px; height: 325px;" />
            <img src="{{imagePath}}" style="width: 753px; height: 325px;" />
            <img src="{{dosaImage}}" style="width: 753px; height: 325px;" />
            <img src="{{dessertImage}}" style="width: 753px; height: 325px;" />
        </div>
    </div>
    <div *ngIf='showMenu'>
        <h3>
            {{menu_soup}}
        </h3>
        <h3>
            {{menu_appetizers}}
        </h3>
        <h3>
            {{menu_naan}}
        </h3>
        <h3>
            {{menu_main_course}}
        </h3>
        <h3>
            {{menu_desserts}}
        </h3>
        <h3>
            {{menu_beverages}}
        </h3>
    </div>
    <form *ngIf='showLogin'>
        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" class="loginbutton">Login</button>
            <input type="checkbox" checked="checked"> Remember me
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</body>
<footer style="background: #808080; height : 25pt">
    <h5>
        ©All Rights Reserved
    </h5>
</footer>
</html>